@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}
                                   
/* Main setting*/
html {
  background-color: #06403C;
  display: grid;
  align-items: center;
  text-align: center;
  color: #EED8CB;
}
h3 {
  font-family: 'PT Sans Caption', sans-serif;
  color: #EED8CB;
}

h2 {
  font-family: 'Baumans';
  font-size: 60px;
  font-weight: 700;
  color: #E76A91;
}

p {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #E76A91;
}

/* NavBar Properties */
.navcontainer{
    height: auto;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    z-index: 5000
}

.nav {
    width: 100%;
    padding: 10px 50px 10px 50px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: #06403C;
    position:absolute;
    border-bottom: solid #70A9A1 3px;
}

.nav  .nav-header {
    display: inline-flex;
}


.nav  .nav-btn {
    display: none;
}

.nav  .nav-links {
    width: 16%;
    display: inline-flex;
    justify-content:space-between;
    align-items:center;
    /* font-size: 20px; */
}

.nav  .nav-links  a {
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    color: #EED8CB;
}

.nav  .nav-links  a:hover, .nav .nav-links .active{
    color: #E76A91;
}

.nav  #nav-check {
    display: none;
}

.nav-links a :blank {
  padding: 25px 20px;
  display: inline-block;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  margin-top: 68px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev {left: 0}
.next {right: 0}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 0 16px 0 16px;
  color: #EED8CB;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #E76A91;
}

/* Caption text */
.mySlides p{
  color: #EED8CB;
  padding: 8px 12px;
  position: absolute;
  bottom: 2vw;
  width: 100%;
}

/* The dots/bullets/indicators */
.dotgroup {
  position:absolute;
  width: 100%;
  bottom: 1vw;
}
.dot {
  cursor: pointer;
  height: 6px;
  width: 6px;
  margin: 0 2px;
  background-color: rgba(238, 216, 203, 0.3);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotgroup .active, .dot:hover {
  background-color: rgba(238, 216, 203);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* section1 */

.title p {
  color: rgba(238, 216, 203);
  width: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-50%)
}
.gallery {
  display: grid;
  /* grid-template-columns: repeat(8, 1fr); */
  grid-template-rows: repeat(6, 8vw);
  grid-gap: 2vw;
  padding: 0 3vw 0 3vw;
}
.gallery__img:hover {opacity: 0.7;}

/* modals */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5001; /* Sit on top */
  /* padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  padding-top: 160px;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    padding-top: 240px;
    width: 90%;
  }
}


.gallery__img {
  max-width: 100%;
  cursor: pointer;
  object-fit: cover;
}
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}
.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 7;
}
.gallery__item--4 {
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 7;
}

.gallery__item {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
  overflow: hidden;
}

.gallery__item .imgcontent {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
}

/* section 2 */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  height: 200px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 98vw;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgb(6, 64, 60) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 200px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 200px;
  width: 250px;
margin-left: 0.7vw;
}

/* section3 */

.desc3 p{
  text-align: center;
  color: rgba(238, 216, 203);
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%)
}

iframe {
  width: 80%;
  height: 200px;
}

/* Footer Properties */

.footer {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #EED8CB;
    color: #02020a;
    padding: 30px 0;
}

.footercontainer {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.footer-content {
  text-align: left;
  width: 50%;
}

.social-icons {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a {
    color: rgba(231, 106, 145);;
    text-decoration: none;
    font-size: 20px;
}

.footer-bottom {
    margin-top: 20px;
    border-top: solid 2px rgba(231, 106, 145);;
    display: grid;
    grid-template-columns: 50% 50%;
}

.footer-bottom p, .footer-social {
    margin-top: 20px;
}


/* -----------------------------------------------------------------------------------------------------------------------*/


/* Responsive Properties */
@media (max-width:800px) {
    /* Responsive Navbar */
    .nav  .nav-btn {
      display: inline-block;
      position: center;
      right: 0px;
      top: 0px;
    }
    .nav  .nav-btn  label {
      display: flex;
      flex-direction: column;
      row-gap: 5.4px;
      height: 50px;
      padding: 15px;
    }
    .nav  .nav-btn  label:hover,.nav  #nav-check:checked ~ .nav-btn  label {
      background-color: rgba(231, 106, 145, 0.3);
      cursor: pointer;
    }
    .nav  .nav-btn  label  span {
      display: block;
      width: 20px;
      height: 3px;
      background-color: rgba(231, 106, 145);
      border-radius: 5px;
    }
    .nav  .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #06403C;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 70px;
      left: 0px;
    }

    .nav  .nav-links  a {
      display: block;
      width: 100%;
      border-bottom: solid #70A9A1 1px;
      font-size: 75%;
    }

    .nav  .nav-header  img{width: 50%;}

    .nav  #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav  #nav-check:checked ~ .nav-links {
      height: auto;
      overflow-y:hidden;
      border-bottom: solid #70A9A1 3px;
    }

    /* section1 */
    h2{font-size: 32px;}
    p{font-size: 60%;}
    .imgcontent h3 {font-size: 60%;}

    .gallery__item .imgcontent {
      position: absolute; /* Position the background text */
      bottom: 0; /* At the bottom. Use top:0 to append it to the top */
      background: rgb(0, 0, 0); /* Fallback color */
      background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
      width: 100%; /* Full width */
      padding: 4px; /* Some padding */
    }
    
    /* Footer Responsive */
    .footer-content {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    .footer-bottom p, .footer-content p{
      font-size: 75%;
    }
}

